@font-face {
    font-family: 'pt_sansregular';
    src: url('../fonts/pts55f-webfont-webfont.eot');
    src: url('../fonts/pts55f-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pts55f-webfont-webfont.woff2') format('woff2'),
         url('../fonts/pts55f-webfont-webfont.woff') format('woff'),
         url('../fonts/pts55f-webfont-webfont.ttf') format('truetype'),
         url('../fonts/pts55f-webfont-webfont.svg#pt_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ubunturegular';
    src: url('../fonts/ubuntu-r-webfont.eot');
    src: url('../fonts/ubuntu-r-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ubuntu-r-webfont.woff2') format('woff2'),
         url('../fonts/ubuntu-r-webfont.woff') format('woff'),
         url('../fonts/ubuntu-r-webfont.ttf') format('truetype'),
         url('../fonts/ubuntu-r-webfont.svg#ubunturegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ubuntulight';
    src: url('../fonts/ubuntu-l-webfont.eot');
    src: url('../fonts/ubuntu-l-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ubuntu-l-webfont.woff2') format('woff2'),
         url('../fonts/ubuntu-l-webfont.woff') format('woff'),
         url('../fonts/ubuntu-l-webfont.ttf') format('truetype'),
         url('../fonts/ubuntu-l-webfont.svg#ubuntulight') format('svg');
    font-weight: normal;
    font-style: normal;
}
* {
-webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
      box-sizing: border-box;
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
html,
body {
    height: 100%;
}
body {
    min-height: 100%;
    margin: 0;
}
.wrapper {
    margin: auto;
    width: 100%;
    position: relative;
    min-height: 100%;
    padding: 165px 0 220px;
}
.container {
    width:1170px;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
}
.header {
    top:0;
    position: fixed;
    padding: 15px 0 0;
    width:100%;
    z-index: 100;
    background: #fff;
    -pie-box-shadow: 0px 5px 8px #7F7F7F;
    -moz-box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 5px 8px -1px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.5);
    border-color: #000000;
    font-family: 'pt_sansregular';
}
.header .container {
    width: 1290px;
    margin: 0 auto;
    padding: 5px 30px;
}
.logo {
    background: url(../images/logo-schlegel.jpg) no-repeat;
    float: left;
    height: 139px;
    width: 144px;
    background-size: cover;
    margin: -15px 0 0 0;
}
.top_menu_box {
    display: flex; 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: -webkit-flex; 
    -webkit-box-align: center; 
    -webkit-align-items: center; 
    align-items: center; 
    align-content: center; 
    text-align: center; 
    -webkit-box-pack: justify; 
    -moz-box-pack: justify; 
    -ms-flex-pack: justify; 
    -webkit-justify-content: space-around; 
    justify-content: space-around; 
    -webkit-flex-wrap: wrap; 
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap;
}
.top_menu_unit {
    background-color: #ededed;
    border-radius: 6px;
    -pie-box-shadow: 4px 4px 5px #7F7F7F;
    -moz-box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 4px 4px 5px -1px rgba(0, 0, 0, 0.5);
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
    border-color: #000000;
    background-color: #EDEDED;
    display: inline-block;
    margin-right: 5px;
    font-size: 15px;
    line-height: 46px;
    width: 110px;
}
.top_menu_unit a {
    color: #000;
    display: block;
    text-decoration: none;
}
.tel_eml {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../images/iconmonstr-phone-icon.png");
    background-origin: padding-box;
    background-repeat: no-repeat;
    background-size: auto auto;
    font-size: 19px;
    line-height: 23px;
    margin: 25px auto 15px;
    padding-left: 50px;
    width: 530px;
}
.head_tel {
    float: left;
    margin-right: 30px;
}
.logo_germ {
    background: url(../images/logo_in_main.png) no-repeat scroll 0 0 / 100% auto;
    display: block;
    float: right;
    height: 72px;
    margin-right: 26px;
    width: 114px;
}

.footer {
    position: absolute;
    bottom:0;
    height: 219px;
    width:100%;
    left: 0;
    #background: #000;
}
/* new-slider-09.04.2017 */
.container {
    width:1024px;
    margin: 0 auto;
}
.news-title{
    color: #3F3AF4;
    font-size: 17px;
    line-height: 20px;
    display: block;
    padding: 5px 0;
    height: 70px;
}
.news-info{
    font-size: 18px;
    font-style: italic;
    border-top: 1px solid #534741;
    line-height: 22px;
    display: block;
    padding: 5px 0;
}

.news-text p{
    font-size: 15px;
    line-height: 18px;
}
.info-block{
    width: 50%;
    float: left;
    height: 430px;
    padding: 15px 15px 15px 0;
    
}

.title_block {
    margin: auto;
    text-align: center;
}

.title-box{
    margin: 0 0 0 -131px;
    padding: 0 0 0 161px;
    float: left;
    width: 100%;
}

.title_content {
    font-family: sans-serif;
    font-size: 24px;
    margin: 20px 0;
    text-transform: uppercase;
}


.title_underline {
    border: 1px solid #ff0000;
    margin: -10px auto auto;
    width: 250px;
}

.top-part img{
    float: left; 
    width: 131px;
}
.top-part{
    overflow: hidden;
}

.footer_line {
    border-bottom: 1px solid #ccc;
}

.info-block:nth-child(2n){
    padding: 15px 0 15px 15px;
}
.news-slider .slick-arrow{
    z-index: 10;
}
.news-slider .slick-prev,
.news-slider .slick-next {
    position: absolute;
    width: 29px;
    border-width: 1px;
    border-style: solid;
    border-color: #DEDEDE;
    background-color: #FFFFFF;
    line-height: 25px;
    height: 30px;
    top: 50%;
    color: #888888;
    font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}
.news-slider .slick-prev {
    left: 0;
}
.news-slider .slick-next {
    right: 0;
}
.news-slider .slick-slide {
    padding: 0 40px;
}
.slick-slide{
    outline: none;
}
.news-slider .slick-prev:hover,
.news-slider .slick-next:hover {
    cursor: pointer;
    border-color: #999999;
}
.news-slider .slick-prev:focus,
.news-slider .slick-next:focus {
    outline: none;
}
.footer {
    border-top: 1px solid #E6E4E4;
    padding: 40px 0 10px;
}
.footer_contact {
    float: left;
    font-family: sans-serif;
    font-size: 14px;
}
.footer_social_01 {
    float: right;
}
.footer-left {
    float: left;
    width:50%;
}
.footer-left span {
    font-family: 'pt_sansregular';
    display: block;
    line-height: 19px;
    font-size: 16px;
}
.footer-left span.copy {
    font-size: 14px;
    font-family: 'PT Sans Narrow', sans-serif;
}