@media (min-width:992px) and (max-width:1200px) {
    .container,
    .header .container {
        width:970px;
    }
    .header .container {
        padding: 5px 15px;
    }
    .feedback-slider {
        overflow: hidden;
    }
    .top_menu_unit {
        font-size: 11px;
        line-height: 30px;
        width: 80px;
    }
    .top_menu_box li:last-child {
        margin: 0;
    }
    .logo {
        height: 119px;
        width: 124px;
    }
    .tel_eml {
        width:480px;
        font-size: 17px;
    }
    .wrapper {
        padding: 142px 0 0;
    }
    .title-section {
        font-size: 20px;
        line-height: 23px;
        margin: 35px 0 45px;
    }
    .text-box p {
        font-size: 17px;
        line-height: 22px;
    }
    .catalog-list {
        margin: 0;
    }
    .info-text {
        font-size: 16px;
    }
    .fast-installation .container .title-section {
        font-size: 18px;
    }
    .instruction-title {
        font-size: 19px;
    }
    .installation-list ul li {
        padding: 11px 0 11px 10px;
    }    
    .video-slider .slick-prev,
    .feedback-slider .slick-prev {
        left: -20px;
    }
    .video-slider .slick-next,
    .feedback-slider .slick-next {
        right: -20px;
    }
    .effects-box p {
        font-size: 14px;
    }
    .effects-title {
        font-size: 18px;
    }
    .form-check input {
        widows: 200px;
    }
    .btn_submit {
        width:220px;
    }
    .info-block {
        height: 405px;
    }
    .deliver-box p {
        font-size: 21px;
    }
    .deliver-box {
        margin: 15px 0 50px;
    }
    .feedback {
        padding: 0 0 0 60px;
    }
    .new-properties-list ul li:before {
        right: -35px;
    }
    .footer-left span {
        font-size: 14px;
    }
}
@media (min-width:768px) and (max-width:991px) {
    .container,
    .header .container {
        width:750px;
    }
    .feedback-slider {
        overflow: hidden;
    }
    .top_menu_unit {
        font-size: 12px;
        margin: 5px;
        line-height: 30px;
        width: 95px;
    }
    .header .container {
        padding: 5px 15px;
    }
    .logo {
        height: 111px;
        width: 114px;
        margin: 0;
    }
    .header {
        padding: 0;
    }
    .tel_eml {
        font-size: 16px;
        line-height: 20px;
        width: 500px;
        margin-bottom: 5px;
    }
    .promo-top {
        padding: 10px 0;
        font-size: 22px;
        line-height: 24px;
    }
    .promo-top span.promo-text {
        font-size: 18px;
    }
    .video-slider .slick-prev,
    .feedback-slider .slick-prev {
        left: -20px;
    }
    .video-slider .slick-next,
    .feedback-slider .slick-next {
        right: -20px;
    }
    .title-section {
        padding: 0 0 0 120px;
        font-size: 21px;
        margin: 35px 0 25px;
    }
    .fast-installation .container .title-section {
        font-size: 18px;
        padding: 0 0 0 120px;
    }
    .title-section:before {
        left: calc(40% + 60px);
    }
    .text-box p {
        font-size: 16px;
        line-height: 21px;
    }
    .catalog-phones {
        padding: 0;
        font-size: 18px;
        line-height: 21px;
    }
    .info-text {
        font-size: 13px;
    }
    .catalog-section {
        padding: 0 0 25px;
    }
    .installation-box {
        padding: 15px 0 0 0;
    }
    .installation-photo img {
        display: block;
        width: 290px;
    }
    .installation-instruction {
        margin: 0 0 0 -295px;
        padding: 0 0 0 315px;
    }
    .instruction-title {
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        padding: 0 0px 10px 0;
    }
    .installation-list ul li {
        font-size: 16px;
        line-height: 22px;
        padding: 5px 0 5px 10px;
    }
    .installation-box{
        padding: 15px 0 5px 0;
    }
    .installation-contact {
        padding: 15px 0 20px;
    }
    .video-slider iframe {
        height: auto;
    }
    .effects .title-section {
        margin: 25px 0;
    }
    .effects-box p {
        font-size: 14px;
    }
    .effects-box,
    .deliver-box {
        width:48%;
        margin: 10px 0;
    }
    .btn_submit,
    .form-check input {
        width: 160px;
        margin: 10px;
    }
    .btn_submit {
        margin: 15px 10px;
    }
    .form-check {
        margin: 35px auto 10px;
    }
    .effects-box > div,
    .deliver-box .deliver-text {
        height: 220px;
    }
    .deliver .title-section,
    .new-properties .title-section,
    .sertificate .title-section {
        padding: 0;
    }
    .deliver .title-section:before,
    .new-properties .title-section:before,
    .sertificate .title-section:before {
        left: 40%;
    }
    .deliver-box p {
        font-size: 21px;
    }
    .deliver-text-first, .deliver-text-second {
        font-size: 17px;
    }
    .delivery-holder {
        padding: 7px 3px;
        margin: 0 0 15px 0;
    }
    .new-properties-list ul li {
        font-size: 16px;
        padding: 7px 0;
    }
    .new-properties-list ul li:before {
        right: -26px;
    }
    .feedback {
        padding: 0 0 0 45px;
    }
    .big-logo {
        width:240px;
        height: 240px;
        margin: 0 auto;
    }
    .footer-left span {
        font-size: 15px;
    }
    .news-text p,
    .news-title{
        font-size: 13px;
    }
    .news-info {
        font-size: 15px;
    }
    .info-block {
        height: 460px;
    }
    .feedback-title {
        padding: 0 0 0 139px;
    }
}
@media (min-width:768px) {
    .show-menu {
        display: none;
    }
}
@media (max-width:767px) {
    .footer_social_01 {
        float: none;
        display: block;
        margin: 0 auto;
        width:250px;
    }
    .wrapper {
        overflow-x: hidden;
        margin: 0;
        padding: 0;
    }
    .container {
        width:100%;
    }
    .show-menu {
        float: left;
        margin: 15px 0 0 30px;
        padding: 5px;
        border: 1px solid #ff0000;
        background: #ff0000;
        color: #fff;
        border-radius: 6px;
        -moz-border-radius:6px;
        -webkit-border-radius:6px;
    }
    .top_menu_box {
        display: none;
        position: absolute;
        top: 90px;
        z-index: 100;
        left: 0;
        background: #fff;
        padding: 5px 0;
        min-height: 110px;
    }
    .top_menu_box .top_menu_unit {
        margin: 5px;
        font-size: 13px;
        line-height: 30px;
        width: 92px;
    }
    .diagrams img {
        max-width: 90%;
    }
    .diagram-title-second,
    .diagram-title-first {
        width:40%;
        margin:0 4%;
        font-size: 16px;
        line-height: 20px;
    }
    .tel_eml {
        text-align: center;
        width:100%;
        padding: 0;
        margin: 10px auto;
        background-image: none;
    }
    .head_tel {
        float: none;
        margin: 0 auto;
        background-attachment: scroll;
        background-clip: border-box;
        background-color: rgba(0, 0, 0, 0);
        background-image: url(../images/iconmonstr-phone-icon.png);
        background-origin: padding-box;
        background-repeat: no-repeat;
        background-size: auto auto;
        width: 212px;
        padding: 0 0 0 40px;
    } 
    .logo {
        height: 80px;
        width: 82px;
        margin: 0;
    }
    .logo_germ {
        margin: 0;
    }
    .header {
        position: static;
        padding: 0;
    }
    .menu:after {
        clear: both;
        display: block;
        content: '';
    }
    .new-properties-list {
        width:100%;
        float: none;
    }
    .feedback {
        padding: 0;
        float: none;
        width:100%;
    }
    .sertificate-items {
        width: 290px;
        padding: 0;
        height: 56px;
        background-size: cover;
    }
    .big-logo {
        width: 120px;
        height: 116px;
        margin: 0 auto;
    }
    .left-img {
        height: auto;
        float: none;
        margin: 0 auto;
        display: block;
        max-width: 90%;
    }
    .installation-photo {
        float: none;
        display: block;
        float: none;
    }
    .installation-photo img {
        max-width: 100%;
        margin: 0 auto 10px;
        display: block;
    }
    .installation-instruction {
        float: none;
        padding: 0;
        margin: 0;
    }
    .info-block,
    .info-block:nth-child(2n){
        width:100%;
        height: auto;
        margin: 5px 0;
        padding: 5px;
        float: none;
    }
    .news-slider .slick-slide {
        padding: 0 5px;
    }
    .top-part img {
        float: none;
        margin: 0 auto 10px;
    }
    .news-title {
        height: auto;
        font-size: 14px;
    }
    .news-info {
        font-size: 15px;
        line-height: 20px;
    }
    .news-text p {
        text-align: justify;
        font-size: 14px;
        line-height: 16px;
        margin: 0;
    } 
    .feedback-title {
        margin: 0;
        padding: 0;
        float: none;
    }
    .promo-top {
        font-size: 16px;
        line-height: 20px;
        margin: 0 0 30px;
        padding: 10px 0;
    }
    .promo-top span.promo-text {
        line-height: 18px;
        font-size: 14px;
    }
    .promo-inner {
        width:100%;
        display: flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        -webkit-box-pack: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-flex-wrap: wrap; 
        -ms-flex-wrap: wrap; 
        flex-wrap: wrap;
    }
    .promo-form {
        margin-bottom: 43px;
    }
    .benefits-title {
        font-size: 15px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .position_content {
        min-height: auto;
        padding: 35px 5px 20px;
    }
    .logo-section {
        display: none;
    }
    .title-section {
        font-size: 18px;
        line-height: 24px;
    }
    .text-box {
        text-align: justify;
    }
    .text-box p {
        font-size: 14px;
        line-height: 18px;
    }
    .info-text {
        line-height: 22px;
        padding: 7px;
    }
    .catalog-section {
        padding: 0 0 20px;
    }
    .fast-installation .container .title-section {
        font-size: 18px;
        padding: 0;
    }
    .fast-installation .container .catalog-phones {
        line-height: 18px;
    }
    .instruction-title {
        text-align: center;
        padding: 0 0 10px;
    }
    .installation-box {
        overflow: visible;
        padding: 15px 0 0;
    }
    .consultation-contact {
        font-size: 16px;
        width:290px;
        margin: 0 auto;
        display: block;
    }
    .video-slider {
        margin: 30px 0 0 0;
    }
    .video-slider iframe {
        height: auto;
    }
    .video-slider .slick-prev,
    .news-slider .slick-prev {
        left: -10px;
    }
    .video-slider .slick-next,
    .news-slider .slick-next {
        right: -10px;
    }
    .news-slider .slick-slide {
        padding: 0 20px;
    }
    .video-slider .slick-slide {
        padding: 0 25px;
    }
    .effects-form .form-check {
        margin: 20px auto 10px;
    }
    .effects-form .form-check input {
        display: block;
        margin: 5px auto;
    }
    .effects-form .btn_submit {
        display: block;
        margin: 5px auto;
    }
    .deliver-text-first, .deliver-text-second {
        font-size: 16px;
    }
    .delivery-holder {
        padding: 10px 3px;
    }
    .deliver-box p {
        margin: 15px 0 0 0;
    }
    .deliver-price {
        margin: 15px 0 0 0;
    }
    .feedback img {
        margin: 20px auto 0;
        display: block;
    }
    .feedback-text, .feedback-tell {
        font-size: 15px;
    }
    .feedback-tell {
        padding-bottom: 10px;
    }
    .diagrams {
        padding: 25px 0;
        margin: 25px 0;
    }
    .footer-left {
        width: 100%;
    }
    .footer-left span {
        text-align: center;
        font-size: 14px;
    }
    
    .effects-inner:before, .effects-form:before {
        display: none;
    }
    .header .container {
        width: 320px;
        position: static;
        padding: 5px 15px;
    }
    .catalog-phones {
        line-height: 18px;
        font-size: 13px;
        display: block;
        padding: 0;
        margin: 0 auto;
        width:290px;
    }
    .effects-box {
        width: 100%;
        margin: 5px 0;
    }
    .effects-box > div {
        height: auto;
    }
    .deliver-box {
        width:100%;
        margin: 10px 0;
    }
    .deliver-box .deliver-text {
        height: auto;
    }
    .deliver-box .deliver-text p {
        font-size: 18px;
        line-height: 24px;
    }
    .circle-numbers {
        margin: 0 auto -26px;
        width: 53px;
        height: 53px;
    }
    .circle-numbers p {
        font-size: 28px;
        line-height: 53px;
        margin: 0;
    }
    .deliver button {
        margin: 5px auto 20px;
    }
    .new-properties-list ul li:before {
        right: 0;
    }
    .new-properties-list ul li {
        font-size: 16px;
        padding: 7px 0;
    }
    .footer-left span.copy {
        font-size: 13px;
    }
    .order-holder {
        width: 95%;
        max-width: 596px;
        height: auto;
    }
    .close-form {
        top: 5px;
        right: 5px;
    }
    .form-area,
    .form-input {
        font-size: 12px;
    }
    .form-area {
        padding-top: 8px;
    }
    .form-title {
        font-size: 24px;
    }
    .white-popup-block {
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 40px;
    }
    .white-popup-block img {
        height: auto;
        max-width: 100%;
    }
    .more-content {
        width:100%;
        max-width: 320px;
    }
}
@media (min-width:710px) and (max-width:767px) {
    
}
@media(min-width:600px) and (max-width: 709px) {
    
}
@media (max-width: 479px){
}