@font-face {
    font-family: 'pt_sansregular';
    src: url('../fonts/pts55f-webfont-webfont.eot');
    src: url('../fonts/pts55f-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pts55f-webfont-webfont.woff2') format('woff2'),
         url('../fonts/pts55f-webfont-webfont.woff') format('woff'),
         url('../fonts/pts55f-webfont-webfont.ttf') format('truetype'),
         url('../fonts/pts55f-webfont-webfont.svg#pt_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ubunturegular';
    src: url('../fonts/ubuntu-r-webfont.eot');
    src: url('../fonts/ubuntu-r-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ubuntu-r-webfont.woff2') format('woff2'),
         url('../fonts/ubuntu-r-webfont.woff') format('woff'),
         url('../fonts/ubuntu-r-webfont.ttf') format('truetype'),
         url('../fonts/ubuntu-r-webfont.svg#ubunturegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ubuntulight';
    src: url('../fonts/ubuntu-l-webfont.eot');
    src: url('../fonts/ubuntu-l-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ubuntu-l-webfont.woff2') format('woff2'),
         url('../fonts/ubuntu-l-webfont.woff') format('woff'),
         url('../fonts/ubuntu-l-webfont.ttf') format('truetype'),
         url('../fonts/ubuntu-l-webfont.svg#ubuntulight') format('svg');
    font-weight: normal;
    font-style: normal;

}
html, body {
	height: 100%;
}
body {
    background: #fff;
    margin: 0;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    color: #000;
    font-size: 14px;
    overflow-x: hidden;
    position: relative;
}
.clearfix:before,
.clearfix:after {
    clear: both;
    display: block;
    content: '';
}
a:focus {
    outline: none;
}
a {
    text-decoration: none;
}
b {
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
    color: transparent !important;
}
input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
    color: transparent !important;
}
input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder{
    color: transparent !important;
}
input:hover::-webkit-input-placeholder,
textarea:hover::-webkit-input-placeholder {
    color: #4F4F4F;
    font-style: normal;
}
input:hover::-moz-placeholder,
textarea:hover::-moz-placeholder {
    color: #4F4F4F;
    font-style: normal;
}
input:hover:-moz-placeholder,
textarea:hover:-moz-placeholder{
    color: #4F4F4F;
    font-style: normal;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #000;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
    color: #000;
}
input:-moz-placeholder,
textarea:-moz-placeholder{
    color: #000;
}
input:focus,
textarea:focus {
    outline: none;
}
* {
-webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
      box-sizing: border-box;
}
.wrapper {
    padding: 157px 0 0;
}
.container {
    width:1170px;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
}
.header {
    top:0;
    position: fixed;
    padding: 15px 0 0;
    width:100%;
    z-index: 100;
    background: #fff;
    -pie-box-shadow: 0px 5px 8px #7F7F7F;
    -moz-box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 5px 8px -1px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.5);
    border-color: #000000;
    font-family: 'pt_sansregular';
}
.header .container {
    width: 1290px;
    margin: 0 auto;
    padding: 5px 30px;
}
.logo {
    background: url(../images/logo-schlegel.jpg) no-repeat;
    float: left;
    height: 139px;
    width: 144px;
    background-size: cover;
    margin: -15px 0 0 0;
}
.top_menu_box {
    display: flex; 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: -webkit-flex; 
    -webkit-box-align: center; 
    -webkit-align-items: center; 
    align-items: center; 
    align-content: center; 
    text-align: center; 
    -webkit-box-pack: justify; 
    -moz-box-pack: justify; 
    -ms-flex-pack: justify; 
    -webkit-justify-content: space-around; 
    justify-content: space-around; 
    -webkit-flex-wrap: wrap; 
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap;
}
.top_menu_unit {
    background-color: #ededed;
    border-radius: 6px;
    -pie-box-shadow: 4px 4px 5px #7F7F7F;
    -moz-box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 4px 4px 5px -1px rgba(0, 0, 0, 0.5);
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
    border-color: #000000;
    background-color: #EDEDED;
    display: inline-block;
    margin-right: 5px;
    font-size: 15px;
    line-height: 46px;
    width: 110px;
}
.top_menu_unit a {
    color: #000;
    display: block;
    text-decoration: none;
}
.tel_eml {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../images/iconmonstr-phone-icon.png");
    background-origin: padding-box;
    background-repeat: no-repeat;
    background-size: auto auto;
    font-size: 19px;
    line-height: 23px;
    margin: 25px auto 15px;
    padding-left: 50px;
    width: 530px;
}
.head_tel {
    float: left;
    margin-right: 30px;
}
.logo_germ {
    background: url(../images/logo_in_main.png) no-repeat scroll 0 0 / 100% auto;
    display: block;
    float: right;
    height: 72px;
    margin-right: 26px;
    width: 114px;
}
.promo-holder {
    -pie-box-shadow: 0px 10px 10px #FFFFFF;
    -moz-box-shadow: 0px 10px 10px rgba(255, 255, 255, 0.87);
    -webkit-box-shadow: 0px 10px 10px -1px rgba(255, 255, 255, 0.87);
    box-shadow: 0px 10px 10px rgba(255, 255, 255, 0.87);
    border-color: #000000;
    padding-bottom: 16px;
    position: relative;
    background: url(../images/slider10.jpg) no-repeat center center;
    background-size: cover;
    overflow: hidden;
}
.promo-top {
    padding: 15px 0;
    border-color: #000000;
    background: rgba(255,255,255,0.5);
    position: relative;
    text-align: center;
    line-height: 29px;
    font-size: 24px;
    color: #FF0000;
    margin: 0 0 60px 0;
}
.promo-top span,
.promo-top b {
    display: block;
}
.promo-top span.promo-text {
    text-align: center;
    line-height: 24px;
    font-size: 20px;
    color: #000000;
}
.promo-form {
    width:289px;
    background: rgba(255,255,255,0.5);
    border-radius: 10px;
    border: 1px solid #FF0000;
    padding: 10px 15px 30px 15px;
    float: left;
    margin: 0 30px 0 0;
}
.promo-form span {
    display: block;
    border-color: #000000;
    background-color: #FFFFFF;
    opacity: 0.75;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
    filter: alpha(opacity=75);
    text-align: center;
    line-height: 19px;
    font-size: 16px;
    font-family: pt-sans, sans-serif;
    font-weight: 400;
    position: relative;
    padding: 10px 5px;
    margin: 0 0 21px;
}
.form-input {
    height: 40px;
    color: #000000;
    text-align: center;
    font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
    font-style: italic;
    font-size: 14px;
    border: 1px solid #FF0000;
    padding: 6px;
    display: block;
    line-height: 38px;
    width: 201px;
    margin: 0 auto 15px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}
.form-input:hover {
    border-color: #6B6B6B;
    background-color: #FFFFFF;
}
.send-bt {
    display: block;
    background: #d90707;
    color: #000;
    height: 43px;
    width: 197px;
    margin: 0 auto;
    text-align: center;
    border: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    font-size: 18px;
}
.send-bt:hover {
    background: #EDEDED;
    cursor: pointer;
}
.counter-block{
	background-color: rgba(255,255,255,.5);
    border: 1px solid #ff0000;
    border-radius: 5px;
    width: 290px;
	padding:0 15px 10px;
}
.clock {
    font-family: 'pt_sansregular';
    margin: 10px 0 0 0;
}
.clock-title {
    font-family: 'pt_sansregular';
    background-color: #d90707;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 18px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 9px 5px;
    display: block;
    margin: -20px 0 0 0;
    text-align: center;
}
.title-box {
    display: block;
    font-size: 24px;
    margin: 0 0 5px;
    text-align: center;
}
.news-box {
    padding: 5px 0;
    text-align: center;
}
.more-holder {
    overflow: hidden;
    padding: 0 30px;
}
.more-holder .more-bt {
    color: #d90707;
    float: right;
    text-decoration: underline;
}
.more-holder .more-bt:hover {
    text-decoration: none;
}
.promo-benefits {
    background-color: rgba(255,255,255,.5);
    border: 1px solid #ff0000;
    border-radius: 5px;
    width: 290px;
    padding: 10px 15px 15px;
    margin: 23px 0 0 0;
}
.promo-benefits ul li {
    font-size: 17px;
    line-height: 26px;
    font-family: 'pt_sansregular';
    font-weight: 400;
}
.promo-benefits span {
    text-align: left;
}
.promo-box {
    float: left;
}
.promo-benefits ul li span {
    border-bottom: 1px solid #ff0000;
}
.promo-inner {
    width:612px;
    margin: 0 auto;
}
/* benefits */
.benefits {
    overflow: hidden;
    -pie-box-shadow: 0px 8px 8px #7F7F7F;
    -moz-box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 8px 8px -1px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.5);
    border-color: #000000;
    padding-bottom: 28px;
    background: url(../images/ta17956_contemporary-living-room-interior-design.jpg) no-repeat center center;
    background-size: cover;
}
.benefits-title {
    display: block;
    max-width: 812px;
    width:90%;
    margin: 30px auto 20px;
    border: 1px solid #ff0000;
    background-color: #FFFFFF;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -khtml-border-radius: 7px;
    border-radius: 7px;
    text-align: center;
    padding: 20px 0;
    font-size: 20px;
    font-family: 'pt_sansregular';
    font-weight: 400;
}
.position_content > div.rounded-corners {
    width: 64px;
    height: 64px;
    border: 1px solid #ff0000;
    background-color: #EB4646;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    -khtml-border-radius: 100px;
    border-radius: 100px;
    text-align: center;
    line-height: 64px;
    font-size: 30px;
    font-family: 'pt_sansregular';
    font-weight: 400;
    left: calc(50% - 32px);
    top:-32px;
    position: absolute;
}
.rounded-corners p {
    margin: 0;
}
.position_content {
    width: 329px;
    position: relative;
    min-height: 175px;
    -pie-box-shadow: 0px 0px 8px 2px #A49E97/* glow */, 0px 5px 5px #7F7F7F/* drop shadow*/;
    -moz-box-shadow: 0px 0px 8px 2px rgba(74, 61, 48, 0.5)/* glow */, 0px 5px 5px rgba(0, 0, 0, 0.5)/* drop shadow*/;
    -webkit-box-shadow: 0px 0px 8px 2px rgba(74, 61, 48, 0.5)/* glow */, 0px 5px 5px -1px rgba(0, 0, 0, 0.5)/* drop shadow*/;
    box-shadow: 0px 0px 8px 2px rgba(74, 61, 48, 0.5)/* glow */, 0px 5px 5px rgba(0, 0, 0, 0.5)/* drop shadow*/;
    border: 1px solid #ff0000;
    background-color: #FFFFFF;
    padding-bottom: 0px;
    position: relative;
    text-align: center;
    line-height: 19px;
    font-size: 16px;
    font-family: 'pt_sansregular';
    font-weight: 400;
    display: flex; 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: -webkit-flex; 
    -webkit-box-align: center; 
    -webkit-align-items: center; 
    align-items: center; 
    align-content: center;
    -webkit-flex-wrap: wrap; 
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap;
    margin: 40px 0 0 0;
}
.position_content span {
    display: block;
    margin: 0;
    padding: 0 15px;
}
.position_content > div {
    width:100%;
}
.benefits-content,
.catalog-list {
    display: flex; 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: -webkit-flex;
    -webkit-box-pack: justify; 
    -moz-box-pack: justify; 
    -ms-flex-pack: justify; 
    -webkit-justify-content: space-around; 
    justify-content: space-around; 
    -webkit-flex-wrap: wrap; 
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap;
}
/* text secton */
.text-box {
    padding: 0 0 1px;
}
.title-section {
    display: block;
    text-align: center;
    text-align: center;
    line-height: 29px;
    font-size: 24px;
    position: relative;
    margin: 35px 0;
}
.title-section:before {
    position: absolute;
    width:20%;
    left: 40%;
    right:40%;
    height: 2px;
    background: #ff0000;
    bottom:-10px;
    content: '';
}
.logo-section {
    position: absolute;
    top: -25px;
    left: 15px;
    display: block;
}
.left-img {
    float: left;
    margin: 15px 15px 0 0;
}
.text-box p {
    font-size: 18px;
    line-height: 24px;
    font-family: 'ubuntulight';
}
/* catalog */
.catalog-section {
    overflow: hidden;
    -pie-box-shadow: 0px 8px 8px #7F7F7F;
    -moz-box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 8px 8px -1px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.5);
    border-color: #000000;
    background: url(../images/elitefon.ru-7097.jpg) no-repeat center center;
    background-size: cover;
    position: relative;
    padding: 0 0 60px;
}
.catalog-section .container {
    z-index: 12;
}
.catalog-phones {
    text-align: center;
    line-height: 24px;
    font-size: 20px;
    display: block;
    padding-left: 5%;
}
.catalog-list {
    margin: 20px 0 0 0;
}
.logo_product:after {
    content: "";
    background: url(../images/logo_product.png) 0 0 no-repeat;
    position: absolute;
    top: -8px;
    right: -8px;
    z-index: 5;
    width: 80px;
    height: 80px;
    background-size: 100%;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
}
.logo_product {
    width: 250px;
    border: 1px solid #ff0000;
    background-color: transparent;
    margin-bottom: -1px;
    position: relative;
}
.product-text {
    line-height: 28px;
    border-color: #000000;
    background-color: #FF0000;
    text-align: center;
    color: #FFFFFF;
    display: block;
    width:100%;
    position: relative;
}
.logo_product img {
    max-width: 100%;
    display: block;
}
.catalog-item {
    margin: 20px 0 0;
    width:250px;
}
.catalog-item p {
    text-align: center;
    line-height: 29px;
    font-size: 24px;
    margin: 10px 0 5px;
}
.catalog-item p b {
    display: block;
}
.catalog-buttons {
    overflow: hidden;
}
.catalog-buttons a {
    float: left;
    height: 45px;
    line-height: 43px;
    width:47%;
    text-align: center;
    color: #000;
}
.catalog-buttons a:last-child {
    float: right;
}
.catalog-buttons a.order-bt {
    border: 1px solid #ff0000;
    background-color: #FFFFFF;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    padding-bottom: 11px;
}
.catalog-buttons a.order-bt:hover {
    border-color: #999999;
}
.catalog-buttons a.more-bt {
    border-color: #FFD000;
    background-color: #FF0000;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    font-size: 16px;
    color: #FFFFFF;
    position: relative;
}
.lght-white {
    position: absolute;
    width:100%;
    height: 100%;
    z-index: 10;
    background: rgba(255,255,255,0.49);
    top:0;
    bottom: 0;
}
.info-text {
    width:100%;
    line-height: 46px;
    position: relative;
    z-index: 12;
    background: rgba(255,255,255,0.72);
    display: block;
    text-align: center;
    margin: 20px 0 0 0;
    color: #000;
    font-size: 18px;
}
.fast-installation{
    -pie-box-shadow: 0px 8px 8px #7F7F7F;
    -moz-box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 8px 8px -1px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.5);
}
.fast-installation .container .title-section{
    font-size: 20px;
    padding: 0 0 0 10%;
}
.installation-box{
    padding: 35px 0 5px 0;
    overflow: hidden;
}
.installation-photo{
    float: left;
}
.installation-instruction{
    float: left;
    margin: 0 0 0 -474px;
    padding: 0 0 0 494px;
    width: 100%;
}
.installation-instruction div .installation-list{
    border: 1px solid #fff;
    border-radius: 5px;
    -pie-box-shadow: 0px 5px 8px #7F7F7F;
    -moz-box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 5px 8px -1px rgba(0, 0, 0, 0.5);
    box-shadow:  0px 0px 8px rgba(0, 0, 0, 0.8);   
}
.instruction-title{
    font-size: 20px;
    line-height: 24px;
    padding: 0 0px 20px 15px;
    display: block;
}
.installation-list ul{
}
.installation-list ul li {
    font-size: 18px;
    line-height: 22px;
    padding:  10px 0 18px 10px; 
    font-family: 'pt_sansregular';
}
.installation-contact{
    padding: 30px 0;
    text-align: center;
    font-family: 'pt_sansregular';
}
.consultation-contact{
    text-align: center;
    font-size: 20px;
    border-bottom: 2px solid #FF0000;
}
.video-about {
    padding: 0 0 25px;
}
.video-slider {
    margin: 60px 0 0 0;
}
.video-slider iframe {
    display: block;
    width:100%;
}
.video-slider .slick-prev,
.video-slider .slick-next {
    position: absolute;
    width: 29px;
    border-width: 1px;
    border-style: solid;
    border-color: #DEDEDE;
    background-color: #FFFFFF;
    line-height: 25px;
    height: 30px;
    top: 50%;
    color: #888888;
    font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}
.video-slider .slick-prev {
    left: -25px;
}
.video-slider .slick-next {
    right: -25px;
}
.video-slider .slick-slide {
    padding: 0 15px;
}
.video-slider .slick-prev:hover,
.video-slider .slick-next:hover {
    cursor: pointer;
    border-color: #999999;
}
.video-slider .slick-prev:focus,
.video-slider .slick-next:focus {
    outline: none;
}
.effects{
    overflow: hidden;
    position: relative;
    background: url(../images/elitefon.ru-7097.jpg) no-repeat 50% 0;
    background-size: cover;
}
.effects-form .form-check{
    display: flex; 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: -webkit-flex;
    -webkit-box-pack: justify; 
    -moz-box-pack: justify; 
    -ms-flex-pack: justify; 
    -webkit-justify-content: space-between; 
    justify-content: space-between;
    -webkit-flex-wrap: wrap; 
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap;
    position: relative;
    z-index: 15;
}
.effects .container {
    position: relative;
    z-index: 14;
}
.effects-box{
    width: 22%;
}
.effects-inner {
    display: flex; 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: -webkit-flex; 
    -webkit-box-pack: justify; 
    -moz-box-pack: justify; 
    -ms-flex-pack: justify; 
    -webkit-justify-content: space-between; 
    justify-content: space-between;
    -webkit-flex-wrap: wrap; 
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap;
    position: relative;
}
.effects-form {position: relative;}
.effects-inner:before,
.effects-form:before {
    background: rgba(255,255,255,0.73);
    width:100%;
    height: 65px;
    content: '';
    display: block;
    position: absolute;
    left:0;
    right:0;
    margin: 0 -9999px;
    padding: 0 9999px;
}
.effects-form:before {
    height:96px;
}
.effects-box img{
    display: block;
    margin: 0 auto 15px;
    position: relative;
    z-index: 14;
}
.effects-title{
    text-align: center;
    display: block;
    font-size: 20px;
    line-height: 24px;
}
.effects-box p{
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    font-family: 'pt_sansregular';
}
.effects-box > div {
    background-color: #F6F1F1;
    height: 320px;
    padding: 15px 3px;
    border: 1px solid #fff;
    border-radius: 5px;
    -pie-box-shadow: 0px 0px 8px 2px #FF7F7F;
	-moz-box-shadow: 0px 0px 8px 2px rgba(255, 0, 0, 0.5);
	-webkit-box-shadow: 0px 0px 8px 2px rgba(255, 0, 0, 0.5);
	box-shadow: 0px 0px 8px 2px rgba(255, 0, 0, 0.5);
}
.form-check{
    margin: 70px auto 10px;
    display: flex; 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: -webkit-flex; 
    -webkit-box-align: center; 
    -webkit-align-items: center; 
    align-items: center; 
    align-content: center; 
    -webkit-box-pack: justify; 
    -moz-box-pack: justify; 
    -ms-flex-pack: justify; 
    -webkit-justify-content: center; 
    justify-content: center;
    -webkit-flex-wrap: wrap; 
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap;
}
.form-check input{
    width: 222px;
    line-height: 54px;
    margin: 10px;
    border: 1px solid #FF0000;
    border-radius: 8px;
    height: 56px;
    background-color: #F2F2F2;
    text-align: center;
}
.btn_submit{
    width: 240px;
    margin: 15px;
    border: 1px solid #FF0000;
    height: 63px;
    background-color: #d90707 !important;
    line-height: 20px;
    font-size: 22px;
    text-color: #fff;
}
.btn_submit:hover{
    background: #a71a1a !important;
    cursor: pointer;
}
.form-check input:hover{
    background: #fff;
}
.effects .title-section {
    background: rgba(255,255,255,0.73);
    margin: 40px 0;
    text-align: center;
    position: relative;
    z-index: 20;
    padding: 15px 0;
}
.effects .title-section:before {
    bottom: 5px;
}
.feedback-slider {
    -pie-box-shadow: 0px 5px 8px #7F7F7F;
    -moz-box-shadow: 0px 5px 8px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 0px 5px 8px -1px rgba(0, 0, 0, 1);
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 1);
    border-color: #000000;
}
.feedback-slider .catalog-phones{
    padding: 0;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 24px;
}
.feedback-slider .title-box {text-align: left;}
.feedback-slider .form-check {margin-top: 0;}
.news-title{
    color: #3F3AF4;
    font-size: 17px;
    line-height: 20px;
    display: block;
    padding: 5px 0;
    height: 70px;
}
.news-info{
    font-size: 18px;
    font-style: italic;
    border-top: 1px solid #534741;
    line-height: 22px;
    display: block;
    padding: 5px 0;
    font-family: 'pt_sansregular';
}
.news-text p{
    font-size: 15px;
    line-height: 18px;
}
.info-block{
    width: 50%;
    float: left;
    height: 360px;
    padding: 15px 15px 15px 0;
}
.feedback-title {
    margin: 0 0 0 -131px;
    padding: 0 0 0 161px;
    float: left;
    width: 100%;
}
.top-part img{
    float: left; 
    width: 131px;
}
.top-part{
    overflow: hidden;
}
.info-block:nth-child(2n){
    padding: 15px 0 15px 15px;
}
.news-slider .slick-arrow{
    z-index: 10;
}
.news-slider .slick-prev,
.news-slider .slick-next {
    position: absolute;
    width: 29px;
    border-width: 1px;
    border-style: solid;
    border-color: #DEDEDE;
    background-color: #FFFFFF;
    line-height: 25px;
    height: 30px;
    top: 50%;
    color: #888888;
    font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}
.news-slider .slick-prev {
    left: 0;
}
.news-slider .slick-next {
    right: 0;
}
.news-slider .slick-slide {
    padding: 0 40px;
}
.slick-slide{
    outline: none;
}
.news-slider .slick-prev:hover,
.news-slider .slick-next:hover {
    cursor: pointer;
    border-color: #999999;
}
.news-slider .slick-prev:focus,
.news-slider .slick-next:focus {
    outline: none;
}
.feedback-slider .from-check{
     margin: 0 auto;   
}
.deliver{
    background: url(../images/photo1.jpg) no-repeat 50% 0;
    position: relative;
    background-size: cover;
    overflow: hidden;   
}
.deliver-box{
    width: 23%;
    margin: 35px 0 70px 0;
    
}
.deliver-inner{
    display: flex; 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: -webkit-flex; 
    -webkit-box-pack: justify; 
    -moz-box-pack: justify; 
    -ms-flex-pack: justify; 
    -webkit-justify-content: space-between; 
    justify-content: space-between;
    -webkit-flex-wrap: wrap; 
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap;
}
.deliver-box .deliver-text{
    background-color: #F6F1F1;
    height: 300px;
    padding: 15px 3px;
    border: 1px solid #fff;
    border-radius: 5px;
    -pie-box-shadow: 0px 0px 8px 2px #ED1C24;
	-moz-box-shadow: 0px 0px 8px 2px rgba(255, 0, 0, 0.5);
	-webkit-box-shadow: 0px 0px 8px 2px rgba(255, 0, 0, 0.5);
	box-shadow: 0px 0px 8px 2px rgba(255, 0, 0, 0.5);
}
.deliver-box p{
    font-size: 24px;
    text-align: center;
    font-family: 'pt_sansregular';
    margin: 30px 0 0 0;
    line-height: 29px;
}
.circle-numbers{
    text-align: center;
    margin: 0 auto -35px;
    background: #ED1C24;
    width: 73px;
    height: 73px;
    position: relative;
    border-radius: 100%;
    text-align: center;
}
.circle-numbers p{
    display: block;
    text-align: center;
    margin: 0;
    font-size: 36px;
    line-height: 73px;
    font-family: 'pt_sansregular';
}
.deliver-text-first,
.deliver-text-second{
    display: block;
    text-align: center;
    font-size: 19px;
    font-family: 'pt_sansregular';
}
.deliver-price p {margin:0;}
.deliver-text-second{
    margin: 20px 0 0 0;
}
.deliver button{
    margin: 10px auto;
}
.new-properties{
    overflow: hidden;
}
.new-properties-list{
    width: 60%;    
    float:left;
    position: relative;
}
.new-properties-list ul li{
    border-bottom: 1px solid #000;
    display: block;
    font-size: 19px;
    line-height: 24px;
    font-family: 'pt_sansregular';
    padding: 16px 0 6px;
    position: relative;
    
}
.new-properties-list ul li:before{
    background: url(../images/open.jpg) no-repeat 100% 50%;
    display: block;
    clear: both;
    content: '';
    width: 17px;
    height: 16px;
    position: absolute;
    right: -40px;
    bottom: 1px;    
}
.properties-bg{
    z-index: 0;
    border-color: #000000;
    opacity: 0.29;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=28.999999999999996)";
    filter: alpha(opacity=28.999999999999996);
    position: absolute;
    top: 0px;
    bottom: 0px;
    background: #FFFFFF url(../images/polskie-okna_zdjecie1.jpg) no-repeat center center;
    background-size: cover;
    height: 100%;
    width: calc(100% + 10%);
    left: -4%;
}
.feedback{
    width: 40%;
    float: left;
    padding: 0 0 0 135px;
}
.feedback img{
    margin: 50px auto 0;
    display: block;
}
.feedback-text,
.feedback-tell{
    font-size: 22px;
    text-align: center;
    display: block;
    line-height: 26px;
    font-family: 'pt_sansregular';
}
.feedback-tell{
    padding-bottom: 40px;
}
.big-logo{
    background: #FFFFFF url(../images/logo-schlegel.jpg) no-repeat center;
    width: 300px;
    height: 300px;
    background-size: cover;
    display: block;
}
.diagrams{
    position: relative;
    border-top: 1px solid #FF0000;
    border-bottom: 1px solid #FF0000;
    padding: 55px 0;
    max-width: 800px;
    margin: 55px auto 60px;
}
.diagrams img{
    display: block;
    margin: 0 auto;
}
.diagram-title-first{
    display: inline-block;
    width: 240px;
    font-size: 22px;
    line-height: 26px;
    margin: 0 10%;
    text-align: center;
    font-family: 'pt_sansregular';
}
.diagram-title-second{
    display: inline-block;
    width: 240px;
    font-size: 22px;
    line-height: 26px;
    margin: 0 5%;
    text-align: center;
    font-family: 'pt_sansregular';
}
.sertificate-items{
    background: url(../images/55551.jpg) no-repeat;
    width: 667px;
    margin: 0 auto;
    padding: 0 0 40px;
    height: 170px;
    border-bottom: 1px solid #E6E4E4;
}
.sertificate .title-section {
    font-size: 20px;
}
.sertificate .title-section:before {
    width:22%;
    left: 39%;
    right: 39%;
}
.footer {
    padding: 40px 0 10px;
}
.footer-left {
    float: left;
    width:30%;
}
.footer_social_01 {
    float: right;
}
.footer-left span {
    font-family: 'pt_sansregular';
    display: block;
    line-height: 19px;
    font-size: 16px;
}
.footer-left span.copy {
    font-size: 14px;
    font-family: 'PT Sans Narrow', sans-serif;
}
.deliver-price .send-bt {
    width:223px;
    height: 51px;
    line-height: 51px;
    background-color: #D31F26;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    font-size: 23px;
}
.delivery-holder {
    background: rgba(255,255,255,0.5);
    padding: 3px;
    margin: 0 0 30px;
}
.order-holder {
    width: 596px;
    height: 451px;
    position: absolute;
    background: #fff;
    z-index: 30;
    padding: 30px;
    display: none;
}
.order-holder .btn_submit {
    width:217px;
    margin: 0 auto;
    display: block;
}
.form-area {
    height: 65px;
    padding: 15px 6px 6px;
    color: #000000;
    text-align: center;
    font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
    font-style: italic;
    font-size: 14px;
    border: 1px solid #FF0000;
    display: block;
    line-height: 16px;
    width: 100%;
    max-width: 317px;
    margin: 0 auto 15px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    resize: none;
    background: #F2F2F2;
}
.close-form {
    text-align: center;
    color: #000000;
    line-height: 21px;
    font-size: 15px;
    font-family: 'pt_sansregular';
    position: absolute;
    right: 30px;
    padding: 0 10px;
    top:20px;
}
.close-form:hover {
    background: #ff0000;
}
.form-title {
    display: block;
    text-align: center;
    line-height: 31px;
    margin: 0 0 30px;
    font-size: 26px;
    font-family: 'pt_sansregular';
}
.form-title span {
    padding: 0 5px 7px;
    border-bottom: 1px solid #ff0000;
}
.order-holder input {
    background: #F2F2F2;
    width: 100%;
    max-width: 317px;
}
.order-holder .btn_submit {
    background-color: #d90707;
}
.order-holder .btn_submit:hover {
    background-color: #a71a1a;
}

.shadow {
    position: fixed;
    z-index: 29;
    background: rgba(0,0,0,0.5);
    left:0;
    top:0;
    height: 100%;
    width: 100%;
    display: none;
}
.retail {
    background-color: #dbc216;
    color: #000;
}
.mfp-ready .zoom-anim-dialog {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
.zoom-anim-dialog {
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
}
.white-popup-block {
    max-width: 819px;
    border-width: 1px;
    border-style: solid;
    border-color: #999999;
    background-color: #FFFFFF;
    position: relative;
    margin: 0 auto;
    padding: 13px 143px 60px 177px;
}
.white-popup-block p {
    margin: 0;
    line-height: 24px;
    font-size: 20px;
    font-family: 'pt_sansregular';
}
.popup-modal-dismiss {
    position: absolute;
    right: 20px;
    top: 20px;
    line-height: 27px;
    padding: 0 7px;
    font-size: 14px;
    display: block;
    color: #000;
    border-width: 1px;
    border-style: solid;
    border-color: #000000;
}
.popup-modal-dismiss:hover {
    border-color: #6B6B6B;
    background-color: #999999;
}
.more-content {
    margin: 0 auto;
    width:320px;
}
.white-popup-block img {
    display: block;
    margin: 0 auto 20px;
}
.sticker-event {
    position: absolute;
    left: -32px;
    display: block;
    bottom: 5px;
}